{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'Interface/style.css' %}" />
User: {{ User }}<br/>

<form method="post" action="/terminal/">{% csrf_token %}
    <input type="button" name="Create Game" id="creategame" /><br/>
    <a href="user.html" target="pop" onclick="pop=window.open(this.href,'pop', 'width=650,height=400');">link</a>
    <input type="hidden" size="20" id="User" name="User" value="{{ User }}" /><br/>
    <input type="submit"/>

    <p></p>

</form>
<a href="/">log out</a>
{{ message }}