<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript">
    function closeSelf (f) {
     f.submit()
     window.close();
    }
    </script>
    <script>
    // When the user clicks on <div>, open the popup
    function myFunction(f) {
        alert("Question: {{ currentLm.question }}");
        closeSelf(f);
    }
    </script>
</head>
<style>

</style>
<body>

<div data-role="page">
    <div data-role="header">
        <h1>Welcome {{ User }} to {{ curUser.game.name }}</h1>
    </div>
    <div>

        {% if curUser.game.isActive %}
            <h3> {{ curUser.game.name }} is active! </h3>
                {%  if landList.count == curUser.currentLandmark %}
                    <h3> You have won. Congratulations!</h3>
                {% else %}
                    {% for lm in landList %}
                        {% if lm.position == curUser.currentLandmark %}
                            <h3> You are at landmark {{ curUser.currentLandmark }} of {{ landList.count }}</h3>
                            <h3> Your current landmark is: {{ lm.name }}</h3>
                            <h3> Your current clue is: {{ lm.clue }}</h3>
                        {% endif %}
                    {% endfor %}
                {% endif %}
        {% else %}
            <h3> {{ curUser.game.name }} not started.</h3>
        {% endif %}
    </div>

    <div data-role="games" class="ui-content">

        <div data-role="group1">
            <a href="#myPopup2" data-rel="popup" data-transition="pop" data-position-to="origin" class="ui-btn ui-shadow ui-corner-all">Get Question</a>
            <a href="#startGame" data-rel="popup" data-transition="pop" data-position-to="origin" class="ui-btn ui-shadow ui-corner-all">Answer Question</a>
            <a href="#logout" data-rel="popup" data-transition="pop" data-position-to="origin" class="ui-btn ui-shadow ui-corner-all">Logout</a>
            <a href="#reload" data-rel="popup" data-transition="pop" data-position-to="origin" class="ui-btn ui-shadow ui-corner-all">Reload Page</a>
        </div>

        <div data-role="popup" id="myPopup2" class="ui-content" data-overlay-theme="a" style="min-width:250px;" data-history="False">
            <form method="post" action="{%  url 'user' %}" onsubmit="myFunction(this);"> {% csrf_token %}
                <div>
                    <h3>Get Question</h3>
                    <input type="hidden" name="User" value="{{ User }}" id="User"/>
                     <input type="hidden" name="password" id="password" value={{ curUser.password }}>
                    <input type="hidden" name="prefix" value="get question" id="prefix"/>
                    <input type="submit" value="Get Question">
                </div>
            </form>
        </div>
        <!--<div class="popup" onclick="myFunction()">Get Question<span class="popuptext" id="getQuestion">{{ currentLm.question }}</span> </div>-->

        <div data-role="popup" id="startGame" class="ui-content" data-overlay-theme="a" style="min-width:250px;" data-history="True">
            <form method="POST" onsubmit="closeSelf(this);" action={%  url 'user' %}> {% csrf_token %}
                <div>
                    <h3>Answer Question</h3>
                    <input type="hidden" name="User" value="{{ User }}" id="User"/>
                     <input type="hidden" name="password" id="password" value={{ curUser.password }}>
                    <input type="hidden" name="prefix" value="answer question" id="prefix"/>
                    <input type="text" name="1" id="1" placeholder="Answer to question"/>
                    <input type="submit" value="Answer Question">
                </div>
            </form>
        </div>

        <div data-role="popup" id="logout" class="ui-content" data-overlay-theme="a" style="min-width:250px;" data-history="True">
            <form method="POST" onsubmit="closeSelf(this);" action={%  url 'login' %}> {% csrf_token %}
                <div>
                    <h3>Are you sure you wish to logout?</h3>
                    <input type="submit" value="Logout">
                </div>
            </form>
        </div>

        <div data-role="popup" id="reload" class="ui-content" data-overlay-theme="a" style="min-width:250px;" data-history="True">
            <form method="POST" onsubmit="closeSelf(this);" action={%  url 'user' %}> {% csrf_token %}
                <div>
                    <h3>Reload page to display current stats</h3>
                    <input type="hidden" name="prefix" id="prefix" value="temp">
                    <input type="submit">
                </div>
            </form>
        </div>

    </div>

    </div>



</body>
</html>